<div class="wrapper">
  <h1>Desfrute da natureza e conheça</h1>
  <p class="opcoes-p">Veja opções de passeios para você curtir ainda mais suas estadia</p>
  <div class="cols">
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front"
          style="background-image: url(../../../assets/Mirante-4-pqsp7f5e2v1eff6291gi40zlfvcpah5fn6u7bhtyeo.png)">
          <div class="inner">
            <p>Mirante Parque da Cerveja</p>
            <span>Em Campos de Jordão</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://cervejacamposdojordao.com.br/mirante/" style="text-decoration: none; color: #fff;">
              <p>O Parque da Cerveja acredita que paixão pela natureza e cerveja tem tudo a ver. Por isso, o Mirante
                Mantiqueira é o espaço ideal para compartilhar sensações únicas.</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/campos-do-jordao-o-que-fazer284-820x615.jpeg)">
          <div class="inner">
            <p> Morro do Elefante</p>
            <span>Campos do Jordão</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://www.tripadvisor.com.br/Attraction_Review-g303607-d600645-Reviews-Morro_do_Elefante-Campos_Do_Jordao_State_of_Sao_Paulo.html"
              style="text-decoration: none; color: #fff;">
              <p>O Morro do Elefante está localizado na região central de Campos do Jordão e tem um ponto panorâmico de
                observação da cidade.</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/vista-do-pico-de-itapeva.jpg)">
          <div class="inner">
            <p>Parque Pico do Itapeva</p>
            <span>Campos do Jordão</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://www.tripadvisor.com.br/Attraction_Review-g675030-d2515171-Reviews-Itapeva_Peak-Pindamonhangaba_State_of_Sao_Paulo.html"
              style="text-decoration: none; color: #fff;">
              <p>O Pico do Itapeva é daqueles lugares que faz a gente lembrar como é pequeno nesse mundão.</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col" ontouchstart="this.classList.toggle('hover');">
      <div class="container">
        <div class="front" style="background-image: url(../../../assets/parque-capivari.webp)">
          <div class="inner">
            <p>Parque Capivari</p>
            <span>Campos do Jordão</span>
          </div>
        </div>
        <div class="back">
          <div class="inner">
            <a href="https://parquecapivari.com.br/" style="text-decoration: none; color: #fff;">
              <p>Concentra a maior parte dos restaurantes e bares, a
                começar pela famosa Choperia Baden Baden, além de importantes atrações da cidade. </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>