<div class="game-section">
  <div style=" padding: 90px 150px 0px;">
    <h2 class="text-content">Conheça os nossos <br> chalés temáticos</h2>
    <p class="title__text__carousel">Cabanas únicas, charmosas, confortáveis e que <br> oferecem uma experiência
      completa em meio <br> a natureza.
      Estamos localizados em uma região <br> privilegiada na Serra da Mantiqueira.</p>
  </div>
  <div class="container__slider">
    <div class="slides">
      <a [routerLink]="['/chale_fuji']">
        <div class="item" style="background-image: url(../../../assets/chale_fuji.png);">
          <div class="item-desc">
            <h3>Fugi</h3>
          </div>
        </div>
      </a>
      <div class="item" style="background-image: url(../../../assets/cabana2.jpg);">
        <div class="item-desc">
          <h3>Mezanino</h3>
        </div>
      </div>
    </div>
  </div>
</div>
