<div class="container-1">
  <div class="container-description">
    <h2>Chalé Fuji</h2>
    <h5>Passar uma noite no Chalé Fuji é mergulhar em uma experiência única</h5>
    <p> Nossa arquitetura temática oriental proporciona uma estadia com um toque especial inspirado na cultura japonesa.
      O Chalé Fuji oferece um ambiente acolhedor e confortável, ideal para relaxar e se reconectar com a natureza..</p>
    <div class="btto-reserve">
      <button class="btn-reserve-wpp">Reserva pelo WhatsApp</button> <button class="btn-reserve-airbnb">Airbnb</button>
    </div>
    <p> Nossa arquitetura temática oriental proporciona uma estadia com um toque especial inspirado na cultura japonesa.
      O Chalé Fuji oferece um ambiente acolhedor e confortável, ideal para relaxar e se reconectar com a natureza.</p>
  </div>

  <div class="container-itens">
    <h5>O que temos para ter oferecer</h5>
    <br>


    <div>
      <img src="../../../assets/icon_chale/Restaurant.svg" alt="">
      <p class="chack-list">Cozinha</p>
    </div>
    <div>
      <img src="../../../assets/icon_chale/Restaurant.svg" alt="">
      <p class="chack-list">Cozinha</p>
    </div>
    <div>
      <img src="../../../assets/icon_chale/Restaurant.svg" alt="">
      <p class="chack-list">Cozinha</p>
    </div>
    <div>
      <img src="../../../assets/icon_chale/Restaurant.svg" alt="">
      <p class="chack-list">Cozinha</p>
    </div>
    <div>
      <img src="../../../assets/icon_chale/Restaurant.svg" alt="">
      <p class="chack-list">Cozinha</p>
    </div>
    <div>
      <img src="../../../assets/icon_chale/Restaurant.svg" alt="">
      <p class="chack-list">Cozinha</p>
    </div>
    <div>
      <img src="../../../assets/icon_chale/Restaurant.svg" alt="">
      <p class="chack-list">Cozinha</p>
    </div>
    <div>
      <img src="../../../assets/icon_chale/Restaurant.svg" alt="">
      <p class="chack-list">Cozinha</p>
    </div>
  </div>
</div>
