<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" id="nav-bar">
  <div class="container-fluid">
    <a [routerLink]="['/']" class="navbar-brand">
      <img class="logo" src="../../../assets/logo/icon-simple.png" />
    </a>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/about']">Localização</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/cadastro']">Chalés</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/login']">WhatsApp</a>
        </li>
      </ul>
    </div>
    <div>
      <a [routerLink]="['/']" class="navbar-brand">
        <img class="icon_networking" src="../../../assets/icon_nav/Instagram.svg" />
      </a>
      <a [routerLink]="['/']" class="navbar-brand">
        <img class="icon_networking" src="../../../assets/icon_nav/Airbnb.svg" />
      </a>
      <a [routerLink]="['/']" class="navbar-brand">
        <img class="icon_networking" src="../../../assets/icon_nav/Whatsapp.svg" />
      </a>

    </div>
  </div>

</nav> -->

<nav>
  <div class="container">
    <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="#">WORK</a></li>
      <li><a href="#">ABOUT</a></li>
      <li><a href="#">DESIGN</a></li>
      <li><a href="#">CONTACT</a></li>
    </ul>
  </div>
</nav>
