<footer class="site-footer">
  <div class="container">
    <div class="row">
      <img src="../../../assets/logo/avatar-alternativo-azul.png" style="height: 250px; width: 250px;" alt="">
      <div class="col-xs-6 col-md-3">
        <h6>avegação</h6>
        <ul class="footer-links">
          <li>Reservas</li>
          <li>Sobre Nós</li>
          <li>Passeios</li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Chalés</h6>
        <ul class="footer-links">
          <li>Fuji</li>
          <li>Mazanino</li>
          <li>Outras hospedagens</li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Fale Conosco</h6>
        <ul class="footer-links">
          <li><img src="../../../assets/pin-distance-fill.svg" style="margin-right: 10px;" alt="">São Bento - SP / CEP:
            88750-000, Brasil</li>
          <li><img src="../../../assets/mail-fill.svg" style="margin-right: 10px;" alt="">E-mail:
            reserva@mundarium.com.br</li>
          <li><img src="../../../assets/phone-fill.svg" style="margin-right: 10px;" alt="">Phone: +55 (49) 9 9756-8987
          </li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by
          <a href="#" style="color: #fff;">Chalés Mundarium</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li style="align-items: center; justify-content: center;"><a class="booking" href="#"><img
                src="../../../assets/bookingcom-1 3.svg" /></a></li>
          <li><a class="airbnb" href="#"><img src="../../../assets/providers-list.svg" /></a></li>
          <li><a class="instagram" href="#"><img src="../../../assets/Instagram.svg" /></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>