html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* Adicione o caminho para o Bootstrap no seu node_modules */
@import '~bootstrap/dist/css/bootstrap.min.css';


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200&family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto:wght@300;400;500&display=swap');


:root {
  --font-family-primary: 'Open Sans';
  --font-family-third: 'Montserrat';
  --font-family-roboto: 'Roboto';
  --font-family-bree: 'Bree Serif', serif;
  --font-family-poppins: 'Poppins', sans-serif;
  --color-primary: #4A83B1;

}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



Estilização Menu Nav-Bar .navbar-brand,
.nav-link,
.nav-link-dropdown-toggle,
.dropdown-item,
.d-flex {
  font-family: var(--font-family-primary);
}

#nav-bar {
  background-color: #0284B4 !important;
}


.nav-link,
.nav-link-active,
.nav-link-dropdown-toggle,
.dropdown-item,
.nav-link-disabled {
  font-size: 16px;
  color: #fff !important;
}


/* Estilo dos links na barra de navegação */
.navbar-brand,
.nav-link {
  font-family: var(--font-family-primary);
  font-size: 16px;
  color: #fff;
}

.navbar-nav li {
  font-family: var(--font-family-primary);
  font-size: 16px;
}


/* Estilo para o logotipo */
.navbar-brand img.logo {
  max-height: 50px;
  /* Ajuste a altura máxima conforme necessário */
}

.navbar-brand img.icon_networking {
  max-height: 28px;
}

.navbar-nav {
  text-align: center;
}

.navbar-nav>li {
  display: inline-block;
  margin-right: 40px;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}